.social {
	font-size: 3em;
}

#disqus_thread {
    margin-top: 4em;
}

.mathjaxWide {
	overflow-x: auto;
	overflow-y: hidden;
}

#navbar-container {
  font-size: 1.2em;
  margin-bottom: 2em;
}

#navbar-container a:hover,
#navbar-container a:focus {
  color: #B22222;
}

.container {
  max-width: 900px;
}

a:visited {
  color: #660066;
}

a:hover,
a:focus {
  color: #B22222;
}

a, a:active {
  color: #0099cc;
}

html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    font-family: 'Roboto';
    /*font-size: 22px;*/
    color: #555;
}

#content div p.mathjaxWide:first-of-type {
    display: none;
}

div.sourceCode { 
    background: linear-gradient(90deg, white, #f2f2f2, white);
    padding-top: 0.5em;
    padding-bottom: 0.1em;
    padding-left: 50em;
    padding-right: 50em;
    margin-left: -50em;
    margin-right: -50em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.sourceCode span.kw { color: #007020; font-weight: bold; }
.sourceCode span.dt { color: #902000; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }

pre code {
	overflow-wrap: normal;
	white-space: pre;
}

#content {
    padding-bottom: 4em;
    margin-bottom: 4em;
    font-size: 1.2em;
}

p {
    text-align: justify;
    text-justify: inter-word;
    tify: inter-word;
}

figure {
    padding: 1em 0;
}

figure img {
    margin: 1em 0;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
}

h1 {
    color: #B22222;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 0.3em;
}

h2 {
    color: #B22222;
    padding-bottom: 0.3em;
    margin-bottom: 0.5em;
    margin-top: 0.7em;
    border-bottom: 1px solid #e5e5e5;
}

h3, h4, h5, h6 {
    color: #B22222;
    margin-bottom: 0.3;
    margin-top: 0.3;
    padding-bottom: 0.1em;
}

.post-item h5, .post-item h6 {
  color: #0099cc;
}

.post-item a:hover, .post-item a:focus {
    color: #B22222;
}

.post-item {
  padding-bottom: 0em;
  margin-bottom: 0em;
  margin-top: 1em;
}

div.post-list {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-meta {
  font-size: 0.9em;
}


.nottoobig {
  max-height: 150px;
}

footer {
  background-color: #f2f2f2;
  margin: 0;
  padding: 5em;
  font-size: 1.3em;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}
