<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/default.css">

    <link rel="alternate" type="application/atom+xml" title="Brian's feed" href="atom.xml" />

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <meta name="keywords" content="$if(keywords)$$keywords$$else$statistics, data science, data analysis, running$endif$">

    <meta name="author" content="Brian Callander">

    <meta name="description" content="$if(tldr)$$tldr$$else$You can probably expect to find posts about data science, statistics, and running. I often post my solutions to textbook exercises. Feel free to subscribe to the atom feed or leave a comment.$endif$">

    <title>$title$ | Brian Callander</title>

  </head>

  <body>
    <nav id="navbar-container" class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand mr-5" href="/index.html">Brian</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar" class="collapse navbar-collapse justify-content-end">
          <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/index.html"><i class="fas fa-home"></i> Recent</a></li>
            <li class="nav-item"><a class="nav-link" href="/archive.html"><i class="fas fa-archive"></i> Archive</a></li>
            <li class="nav-item"><a class="nav-link" href="/blogroll.html"><i class="far fa-smile"></i> Blogroll</a></li>
            <li class="nav-item"><a class="nav-link" href="https://twitter.com/mcbricall"><i class="fab fa-twitter"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/stappit"><i class="fab fa-github"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/brian-callander-ba4117140/"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.strava.com/athletes/6396953"><i class="fab fa-strava"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="mailto:briancallander+blog@gmail.com"><i class="far fa-envelope"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="/atom.xml"><i class="fas fa-rss"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="/about.html"><i class="fas fa-info-circle"></i> About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <section>
      <article>
        <div id="content" class="container">
          $body$
        </div>
      </article>
    </section>

    <footer class="footer">
      <div class="container text-center">
        <div class="social">
          <a href="https://twitter.com/mcbricall"><i class="fab fa-twitter"></i></a>
          <a href="https://github.com/stappit"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/brian-callander-ba4117140/"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://www.strava.com/athletes/6396953"><i class="fab fa-strava"></i></a>
          <a href="https://www.instagram.com/macbricall/"><i class="fab fa-instagram"></i></a>
          <a href="mailto:briancallander+blog@gmail.com"><i class="far fa-envelope"></i></a>
          <a href="/atom.xml"><i class="fas fa-rss"></i></a>
        </div>

        </br>

        Site proudly generated by
        <a href="http://jaspervdj.be/hakyll">Hakyll</a>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  </body>
</html>
